.Header{
    height: 80px;
    width: 100%;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.link{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 25px;
}
button {
    padding: 10px;
 
    color: black;
    border: none;
    
    margin: 10px auto;
    text-decoration: none;
    margin: 2px;
    border-radius: 10px;
}
button .link{
    text-decoration: none;
    color: black;
    
    font-size: 20px;
}

}
